
@model IEnumerable< duycoffee.Models.SanPham >



<!-- //homeblock2-->
<section class="w3l-gallery" id="gallery">
    <div class="destionation-innf py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="title-content">
                <h5 class="title-small text-center mb-1"></h5>
                <h3 class="title-big text-center mb-md-5 mb-4">Có thể bạn thích</h3>
            </div>
            <!--/coffee grids-grids-->
            <ul class="gallery_agile">
                
                    @{

                        foreach (var item in Model)
                        {
                            <li>
                                <div class="w3_agile_portfolio_grid">
                                    <a href="/Cart/giohang?ma=@item.MaSanPham&ten=@item.TenSanPham&gia=@item.Gia&anh=@item.Anh1&giaht=@item.GiaHienThi" >
                                        <img src="~/Content/@item.Anh1" alt="@item.Anh1" class="img-fluid radius-image" />
                                        <div class="w3layouts_news_grid_pos">
                                            <div class="wthree_text">
                                                <h3>@item.TenSanPham.ToUpper()</h3>
                                                <p>@item.GiaHienThi  / Thêm vào giỏ</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        }
                    }
                    
               

            </ul>
            <!--//coffee grids-grids-->
        </div>
    </div>
</section>
